.nav-menu-base {
  @apply inline-block relative;
}

.nav-menu {
  @apply absolute hidden right-0 mt-[0.4rem] bg-primaryBlue z-20
  before:absolute
  before:bg-primaryBlue
  before:right-[5px]
  before:top-[-5px]
  before:rotate-[45deg]
  before:h-[15px]
  before:w-[15px];
}
.--active {
  @apply block;
}

.nav-menu-content {
  @apply relative z-10 block min-w-[200px] min-h-[100px];
}
