.nav-menu-base {
  display: inline-block;
  position: relative;
}

.nav-menu {
  position: absolute;
  display: none;
  right: 0;
  margin: 5px;
  margin-top: 0.6rem;
  background: var(--PAPER);
  border-radius: 10px;
}
.--active {
  display: block;
}
.nav-menu::before {
  content: "";
  position: absolute;
  background: var(--PAPER);
  right: 10px;
  top: -5px;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
}
.nav-menu-content {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 200px;
  min-height: 100px;
}
