.notification-base {
  @apply rounded-[10px] p-4 absolute
  bottom-0 left-0 m-4 z-[999] max-w-[300px] bg-white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.notification {
  @apply flex relative flex-row items-start;
}
.notification-icon {
  @apply flex items-center justify-center
  h-[2rem] w-[2rem] min-w-[2rem] min-h-[2rem]
  mr-[0.5rem] rounded-full overflow-hidden;
}
.notification p {
  min-width: 8rem;
}
.--success {
  border: 1px solid var(--SUCCESS);
  color: var(--SUCCESS);
}
.--warning {
  border: 1px solid var(--WARNING);
  color: var(--WARNING);
}
.--error {
  border: 1px solid var(--ERROR);
  color: var(--ERROR);
}

@media screen and (max-width: 400px) {
  .notification-base {
    max-width: 400px;
  }
}
