.preview-base {
  @apply relative;
}
.preview-card {
  @apply overflow-hidden flex 
  min-h-[150px] relative select-none mt-2;
}
.preview-loading-base {
  @apply flex-1 
  flex flex-col items-center justify-center
  absolute w-[100%] h-[100%]
  bg-white z-[999];
}
.preview-canvas-base {
  @apply relative flex items-end px-0 py-1 flex-1;
}
.preview-controller-base {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-end;
}
.flex-1 {
  flex: 1;
  margin: 1px;
}
#fpsRef {
  padding: 2px 5px;
  outline: none;
  border: 1px solid lightgray;
  width: 80px;
}
.fps-input-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0 10px;
}
