.preview-base {
  @apply relative;
}
.preview-card {
  @apply overflow-hidden flex 
  min-h-[150px] relative select-none mt-2 border-b-[1px] border-b-[lightgray];
}
.preview-loading-base {
  @apply flex-1 
  flex flex-col items-center justify-center
  absolute w-[100%] h-[100%]
  bg-white z-[999];
}
.preview-canvas-base {
  @apply relative flex items-end p-2 pl-5 border-r-[1px] border-r-[lightgray];
}
.preview-canvas {
  @apply flex-1 h-[100%] flex items-end;
}
.preview-controller-base {
  @apply flex flex-1 justify-end flex-col p-2  pr-5;
}
.preview-controller-label {
  @apply relative flex flex-col w-full justify-start;
}
.inline-group {
  @apply w-full flex flex-row items-start;
}
#fpsRef {
  padding: 2px 5px;
  outline: none;
  border: 1px solid lightgray;
  width: 80px;
}
.fps-input-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 0 10px;
}
.dropdown-c-content-base {
  @apply relative 
  bg-primaryBlue
  w-[250px] p-2;
}
