#canvas-preview {
  height: 300px;
  width: 250px;
  min-height: 300px;
  min-width: 250px;
  max-height: 300px;
  max-width: 250px;
}

.preview-base {
  position: relative;
  padding: 10px;
}
.preview-card {
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid lightgray;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.preview-canvas-base {
  position: relative;
  height: 150px;
  width: 120px;
}

.preview-controller-base {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-end;
}
.flex-1 {
  flex: 1;
  margin: 1px;
}
