.navbar {
  @apply h-[7vh] w-[100%] flex items-center sticky top-0 z-50 bg-navbarBase;
}
.nav-title {
  margin-left: 3rem;
}
.span {
  @apply flex items-center justify-center mr-[10px];
}
.nav-flex-grow {
  @apply flex-grow flex items-center flex-row justify-between;
}
.nav-left-section {
  @apply flex items-center justify-center ml-20;
}
.nav-button-base {
  position: inherit;
  display: flex;
  @apply flex items-center justify-end;
}
.nav-button {
  @apply h-[7vh] z-10 w-10 border-none duration-500 text-white hover:bg-navbarBaseHover ml-2;
}

.reload-btn {
  @apply bg-blue-700 hover:bg-blue-600 duration-500
  mx-2 my-2 px-3 py-2 text-white rounded-lg text-sm;
}
.clear-btn {
  @apply bg-red-700 hover:bg-red-600 duration-500
  mx-2 my-2 px-3 py-2 text-white rounded-lg text-sm;
}
.centered {
  @apply flex items-center justify-center;
}

.rotated-45deg {
  transform: rotate(45deg);
}

@media screen and (max-width: 500px) {
  .nav-button {
    height: 2rem;
    width: 2rem;
  }
  .navbar {
    height: 7vh;
  }
  .nav-title {
    margin-left: 1rem;
  }
}
