.m1 {
  margin: 1rem;
}
.m2 {
  margin: 2rem;
}
.m-0-1 {
  margin: 0 1rem;
}

.m-0-2 {
  margin: 0 2rem;
}
.mt-default {
  margin-top: 0.5rem;
}
.m-r1 {
  margin-right: 1rem;
}
.m-l1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
