.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inline-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
