.sidebar-base {
  @apply min-w-[350px] 
  w-[20vw] h-[100vh] 
  flex flex-col 
  sticky top-0 
  duration-300 
  border-l-[1px] border-l-[lightgray];
  animation: display 1s ease !important;
}
.sidebar {
  @apply w-[100%] h-[100%] flex flex-col;
}
.--close {
  @apply translate-x-[351px] min-w-0 w-0 max-w-0;
  animation: fade 0.2s ease !important;
}

@keyframes fade {
  0% {
    @apply opacity-0 translate-x-0 visible;
  }
  100% {
    @apply opacity-0 translate-x-[350px] hidden;
  }
}
.sidebar-heading {
  @apply flex items-center
  h-[7vh] 
  border-b-[1px] border-b-[lightgray];
}

.sidebar-heading button {
  @apply flex flex-1 items-center justify-center text-gray-400 text-sm;
}
.sidebar-btn-active {
  @apply bg-white text-black !important;
}

.sidebar-content {
  @apply bg-white flex-1 overflow-hidden overflow-y-auto;
}
.sidebar-content::-webkit-scrollbar-track {
  @apply rounded-lg bg-[#f5f5f5];
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-content::-webkit-scrollbar {
  @apply w-2 bg-[#f5f5f5];
}

.sidebar-content::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-[#555];
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.sidebar-bg-details {
  @apply border-b-[1px] border-b-[lightgray] px-5 py-3;
}
.sidebar-bg-summary-base {
  @apply relative flex-1 flex items-center justify-between;
}
.text-title {
  @apply font-semibold text-xs text-gray-700;
}
.-icon-button {
  @apply h-7 w-7 flex items-center justify-center hover:border-[1px] hover:border-[lightgray] duration-200 rounded-sm;
}
.sidebase-bg-summary {
  @apply list-none;
}
.bg-color-picker-base {
  @apply flex items-center justify-between;
}
.bg-color-picker-wrapper {
  @apply flex items-center justify-start 
  py-[2px] px-1 
  border-[1px] border-white
  hover:border-[1px] hover:border-[lightgray];
}
#bg-color-picker {
  @apply w-7 h-7;
}
.bg-text-color-label {
  @apply ml-5 text-sm text-gray-700;
}
.sidebar-anim-preview-base {
  @apply relative;
}
.form-base {
  @apply flex;
}
